*{
    padding: 0;
    margin: 0;
    font-family: comic sans MS;
}
.container{
    border: 2px solid black;
    width: 450px;
    padding: 10px;
    margin: 50px auto;
    border-radius: 10px;
}

h1{
     text-align: center;
    font-size: 3rem;
}
input{
    display: block;
    font-size: 1.5rem;
    margin: 10px auto;
    cursor: pointer;
}
table{
    margin:0 auto;
}
td{
    height: 3rem;
    width: 5rem;
    border: 1px solid black;
    text-align: center;
    background-color: #EFEFEF;
    font-size: 2rem;
    transition: 100ms;
}
td:active{
    transform: scale(0.8);
}
td:hover{
    cursor: pointer;
}